.root {
    -fx-background-color: #f0f0f0;
    -fx-font-size: 24px;
    -fx-background-radius: 10;
}

.button {
    -fx-background-radius: 10;
    -fx-background-color: #FBFBFD;
}

.text-field {
    -fx-background-radius: 10;
}

.main-tool-bar {
    -fx-background-color: #9584E0;
    -fx-padding: 10;
}

.search-field {
    -fx-pref-height: 60;
    -fx-background-color: #FBFBFD;
}

.read-mode-tool-bar {
    -fx-background-color: #9584E0;

}

.run-test-button {
    -fx-background-color: #554BA3;
    -fx-text-fill: #FBFBFD;
}

.tile-book {
    -fx-background-radius: 10;
}

.tile-book-inner {
    -fx-background-radius: 10;
    -fx-background-color: #336666;
}

.add-book-tile {
    -fx-background-radius: 10;
    -fx-background-color: #669999;
}

.profile-top-box {
    -fx-background-radius: 10;
    -fx-background-color: #669999;
    -fx-text-fill: black;
}

.profile-button {
    -fx-background-color: #9584E0;
}


.auth-dialog {
    -fx-background-color: #669999;
    -fx-text-fill: black;
}

.auth-dialog-text-field {
    -fx-text-fill: #FBFBFD;
    -fx-prompt-text-fill: #FBFBFD80;
    -fx-background-color: #336666;
}

.reg-dialog {
    -fx-background-color: #9584E0;
}

.reg-dialog-text-field {
    -fx-text-fill: #FBFBFD;
    -fx-prompt-text-fill: #FBFBFD80;
    -fx-background-color: #554BA3;
}

.reg-dialog-choice-box {
    -fx-background-color: #554BA3;
    -fx-text-origin: #FBFBFD;
    -fx-background-radius: 10;
}

.reg-dialog-choice-box .label {
    -fx-text-fill: #FBFBFD;
}

.reg-dialog-choice-box .context-menu {
    -fx-text-fill: #FBFBFD;
    -fx-background-color: #554BA3;
    -fx-background-radius: 10;
}

.run-test-section {
    -fx-background-color: #66999933;
    -fx-background-radius: 10;
}

.btn-end {
    -fx-background-radius: 10;
    -fx-background-color: #554BA3;
    -fx-text-fill: #FBFBFD;
}

.run-test-tool-bar {
    -fx-background-color: #9584E0;
}

.btn-reset {
    -fx-background-radius: 10;
    -fx-background-color: #554BA3;
    -fx-text-fill: #FBFBFD;
}

.edit-test-section-box {
    -fx-background-radius: 10;
    -fx-background-color: #66999933;
    -fx-padding: 15;
    -fx-spacing: 15;
}

.edit-answers-box {
    -fx-spacing: 15;
}